:root {
  /* Wonder Works color variables */
  --color-green: #D9E141;
  --color-darkblue: #1764AF;
  --color-orange: #FABB17;
  --color-purple: #6653A3;
  --color-lightpink: #E795BF;
  --color-lightpurple: #B16EAC;
  --color-lightblue: #59C9F3;
  --color-pink: #EB2C90;
  --color-white: #F7F7FC;
  --color-black: #1A1748;
  --hover-transition: all ease-in-out 0.25s;
}

@font-face {
  font-family: "balgin-bold";
  src: url(../src/fonts/balgin-bold.woff2) format("woff2");
  font-display: fallback;
} 

@font-face {
  font-family: "balgin-medium";
  src: url(../src/fonts/balgin-medium.woff2) format("woff2");
  font-display: fallback;
} 

@font-face {
  font-family: "calibre-medium";
  src: url(../src/fonts/calibre-medium.woff2) format("woff2");
  font-display: fallback;
} 

@font-face {
  font-family: "calibre-regular";
  src: url(../src/fonts/calibre-regular.woff2) format("woff2");
  font-display: fallback;
} 

@font-face {
  font-family: "calibre-regular-italic";
  src: url(../src/fonts/calibre-regular-italic.woff2) format("woff2");
  font-display: fallback;
} 

@font-face {
  font-family: "calibre-semibold";
  src: url(../src/fonts/calibre-semibold.woff2) format("woff2");
  font-display: fallback;
} 
@font-face {
  font-family: "ppwoodland-bold";
  src: url(../src/fonts/ppwoodland-bold.woff2) format("woff2");
  font-display: fallback;
} 
@font-face {
  font-family: "ppwoodland-light";
  src: url(../src/fonts/ppwoodland-light.woff2) format("woff2");
  font-display: fallback;
} 

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  overscroll-behavior: none;
}


/* --------------------- See layout.js for all typography breakpoints! --------------------- */

h1 {
  font-family: "ppwoodland-light";
  font-size: 126px;
  line-height: 130.5px;
}

h2 {
  font-family: "ppwoodland-bold";
  font-size: 75px;
  line-height: 80px;
}

h3 {
  font-family: "ppwoodland-light";
  font-size: 50px;
  line-height: 60px;
}

h4 {
  font-family: "calibre-medium";
  font-size: 40px;
  line-height: 48px;
}

h5 {
  font-family: "calibre-regular";
  font-size: 30px;
  line-height: 33px;
}

h6 {
  font-family: "calibre-regular";
  font-size: 28px;
  line-height: 35px;
}

p, ul, li {
  font-family: "calibre-regular";
  font-size: 25px;
  line-height: 30px;
}

h1 > a
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6, 
p,
a {
  color: var(--color-black);
  font-weight: 300;
  margin: 0;
}


blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}


a:hover,
a:focus {
  text-decoration: none;
}
